@using Microsoft.AspNetCore.SignalR.Client
@using kTVCSS.Models.Db.Models.Chat.DTOs
@using kTVCSS.Models.Db.Models.Teams
@using kTVCSS.Models.Models
@using kTVCSSBlazor.Client.Authorization
@using kTVCSSBlazor.Client.Components
@using kTVCSSBlazor.Client.Services
@using kTVCSSBlazor.Db.Models.Players
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService TooltipService
@inject NotificationService NotificationService
@inject HttpClient http
@inject StateProvider AuthProvider
@inject ChatHubService ChatHub
@implements IDisposable
@inject IMobileDetectionService mds
@inject WindowSizeService WindowSize

<RadzenComponents />
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<script src="scripts/layout.js"></script>

@if (ready)
{
    <RadzenLayout style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body' 'rz-footer rz-footer';">
        <RadzenHeader>
            <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="0">
                <RadzenColumn Size="5">
                    <RadzenSidebarToggle Click="@SidebarToggleClick"></RadzenSidebarToggle>
                </RadzenColumn>
                <RadzenColumn Size="7">
                    <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="0.5rem" class="rz-px-2">
                        @* <CulturePicker /> *@
                        <CascadingAuthenticationState>
                            <AuthorizeView Context="auth">
                                <Authorizing>
                                    <Loader Size="ProgressBarCircularSize.Small" />
                                </Authorizing>
                                <Authorized>
                                    <RadzenStack Orientation="Orientation.Horizontal">
                                        <NotificationBell />
                                        <RadzenProfileMenu Style="position: relative">
                                            <Template>
                                                @if (AuthProvider.CurrentUser.RankPicture is not null)
                                                {
                                                    <RadzenStack JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal">
                                                        <img src="@AuthProvider.CurrentUser.RankPicture" alt="User Profile" style="width: 32px; height: 100%; border-radius: 50%;">
                                                        <RadzenText Style="margin: auto;" TextAlign="TextAlign.Center" Text="@AuthProvider.CurrentUser.Username" />
                                                    </RadzenStack>
                                                }
                                            </Template>
                                            <ChildContent>
                                                <RadzenProfileMenuItem Text="Профиль" Path="@(string.Concat("/player/", AuthProvider.CurrentUser.Id))" Icon="account_circle"></RadzenProfileMenuItem>
                                                @if (string.IsNullOrEmpty(AuthProvider.CurrentUser.TeamName))
                                                {
                                                    @if (AuthProvider.CurrentUser.SteamId != "STEAM_UNDEFINED")
                                                    {
                                                        <div @onclick=@(async (MouseEventArgs e) => OpenTeamCreation())>
                                                            <RadzenProfileMenuItem Text="Создать команду" Icon="add_circle"></RadzenProfileMenuItem>
                                                        </div>
                                                    }
                                                }
                                                <RadzenProfileMenuItem Path="/vip-features" Text="VIP" Icon="diamond"></RadzenProfileMenuItem>
                                                <div @onclick=@(async (MouseEventArgs e) => AuthProvider.LogoutAsync())>
                                                    <RadzenProfileMenuItem Text="Выйти" Icon="logout"></RadzenProfileMenuItem>
                                                </div>
                                            </ChildContent>
                                        </RadzenProfileMenu>
                                    </RadzenStack>
                                </Authorized>
                                <NotAuthorized>
                                    <RadzenButton Click=@(() => { NavigationManager.NavigateTo("/login"); }) Icon="login" Text="Войти" />
                                </NotAuthorized>
                            </AuthorizeView>
                        </CascadingAuthenticationState>
                        @* <RadzenAppearanceToggle /> *@
                    </RadzenStack>
                </RadzenColumn>
            </RadzenRow>
        </RadzenHeader>
        <RadzenSidebar Expanded="@sidebarExpanded" style="z-index: 2">
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" AlignItems="Radzen.AlignItems.Center" class="rz-py-4 rz-py-lg-6" Style="padding: var(--rz-panel-menu-item-padding); border-bottom: var(--rz-panel-menu-item-border);">
                <RadzenImage Path="images/logo.png" style="width: 48px; height: 48px;" AlternateText="Application logo"></RadzenImage>
                <RadzenText Text="kTVCSS" TextStyle="Radzen.Blazor.TextStyle.Subtitle1" class="rz-mb-0" style="color: var(--rz-sidebar-color);" />
            </RadzenStack>
            <RadzenPanelMenu>
                <CascadingAuthenticationState>
                    <AuthorizeView>
                        <Authorized>
                            @if (AuthProvider.CurrentUser.Role >= kTVCSS.Models.Db.Models.Roles.RoleType.Moderator)
                            {
                                <RadzenPanelMenuItem Expanded=false Text="Админ" Icon="shield_person">
                                    <RadzenPanelMenuItem Click=SidePanelClick Text="Тикеты" Path="/tickets" Icon="import_contacts"></RadzenPanelMenuItem>
                                    @if (AuthProvider.CurrentUser.Role >= kTVCSS.Models.Db.Models.Roles.RoleType.Admin)
                                    {
                                        <RadzenPanelMenuItem Click=SidePanelClick Text="Дашборд" Path="/dashboard" Icon="dashboard"></RadzenPanelMenuItem>
                                        <RadzenPanelMenuItem Expanded=false Text="Разделы главной" Icon="home">
                                            <RadzenPanelMenuItem Click=SidePanelClick Text="Создать новость" Path="/createarticle" Icon="newspaper"></RadzenPanelMenuItem>
                                            <RadzenPanelMenuItem Click=SidePanelClick Text="Добавить вакансию" Path="/addwork" Icon="work"></RadzenPanelMenuItem>
                                        </RadzenPanelMenuItem>
                                    }
                                    <RadzenPanelMenuItem Expanded=false Text="Общее" Icon="settings">
                                        @if (AuthProvider.CurrentUser.Role >= kTVCSS.Models.Db.Models.Roles.RoleType.SuperAdmin)
                                        {
                                            <RadzenPanelMenuItem Click=SidePanelClick Text="Редактор причин бана" Path="/editbanreasons" Icon="no_accounts"></RadzenPanelMenuItem>
                                            <RadzenPanelMenuItem Click=SidePanelClick Text="Редактор причин репортов" Path="/editreportreasons" Icon="report"></RadzenPanelMenuItem>
                                            <RadzenPanelMenuItem Click=SidePanelClick Text="Редактор миксовых карт" Path="/editmixesmaps" Icon="build"></RadzenPanelMenuItem>
                                            <RadzenPanelMenuItem Click=SidePanelClick Text="Редактор кв карт" Path="/editmappool" Icon="build"></RadzenPanelMenuItem>
                                        }
                                        @if (AuthProvider.CurrentUser.Role >= kTVCSS.Models.Db.Models.Roles.RoleType.MovieMaker)
                                        {
                                            <RadzenPanelMenuItem Click=SidePanelClick Text="MovieMaking-центр" Path="/moviemaker" Icon="movie"></RadzenPanelMenuItem>
                                        }
                                        @if (AuthProvider.CurrentUser.Role >= kTVCSS.Models.Db.Models.Roles.RoleType.Developer)
                                        {
                                            <RadzenPanelMenuItem Click=SidePanelClick Text="Управление миксом #1" Path="/mixconsole" Icon="folder"></RadzenPanelMenuItem>
                                        }
                                    </RadzenPanelMenuItem>
                                </RadzenPanelMenuItem>
                            }
                        </Authorized>
                    </AuthorizeView>
                </CascadingAuthenticationState>
                <CascadingAuthenticationState>
                    <AuthorizeView>
                        <Authorized>
                            <RadzenPanelMenuItem Expanded=false>
                                <ChildContent>
                                    <RadzenPanelMenuItem Click=SidePanelClick Text="Мой профиль" Path="@(string.Concat("/player/", AuthProvider.CurrentUser.Id))" Icon="account_circle"></RadzenPanelMenuItem>
                                    @if (!string.IsNullOrEmpty(AuthProvider.CurrentUser.TeamName))
                                    {
                                        <RadzenPanelMenuItem Click=SidePanelClick Text="Моя команда" Path="@(string.Concat("/team/", AuthProvider.CurrentUser.TeamID))" Icon="groups"></RadzenPanelMenuItem>
                                    }
                                    <RadzenPanelMenuItem Click=SidePanelClick Text="Мои сообщения" Path="/chat" Icon="mail"></RadzenPanelMenuItem>
                                    <RadzenPanelMenuItem Click=SidePanelClick Text="Мои друзья" Path="/friends" Icon="group"></RadzenPanelMenuItem>
                                    <RadzenPanelMenuItem Click=SidePanelClick Text="Мои матчи" Path="@(string.Concat("/mp/", AuthProvider.CurrentUser.Id))" Icon="filter_list"></RadzenPanelMenuItem>
                                    <RadzenPanelMenuItem Click=SidePanelClick Text="Мои обращения" Path="@(string.Concat("/tickets/", AuthProvider.CurrentUser.Id))" Icon="support_agent"></RadzenPanelMenuItem>
                                </ChildContent>
                                <Template>
                                    <RadzenStack Gap="12px" AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal">
                                        <img class="ktvcss-avatar-small" src="@(AuthProvider.CurrentUser.AvatarUrl ?? "/images/logo_ktv.png")" />
                                        <div class="rz-navigation-item-text">@AuthProvider.CurrentUser.Username</div>
                                    </RadzenStack>
                                </Template>
                            </RadzenPanelMenuItem>
                        </Authorized>
                    </AuthorizeView>
                </CascadingAuthenticationState>
                <RadzenPanelMenuItem Click=SidePanelClick Icon="home" Text="Главная" Path="" />
                <RadzenPanelMenuItem Click=SidePanelClick Icon="person" Text="Игроки" Path="/players" />
                <RadzenPanelMenuItem Click=SidePanelClick Icon="block" Text="Банлист" Path="/banslist" />
                <RadzenPanelMenuItem Click=SidePanelClick Icon="groups" Text="Команды" Path="/teams" />
                <RadzenPanelMenuItem Click=SidePanelClick Icon="videogame_asset" Text="Матчи" Path="/matches" />
                <RadzenPanelMenuItem Click=SidePanelClick Icon="trophy" Text="Боевые кубки" Path="/battlecups" />
                @if (isMobile)
                {
                    <RadzenPanelMenuItem Expanded=false Text="Информация" Icon="info">
                        <RadzenPanelMenuItem Click=SidePanelClick Icon="apartment" Path="/about" Text="О проекте" />
                        <RadzenPanelMenuItem Click=SidePanelClick Icon="gavel" Path="/rules" Text="Правила" />
                        <RadzenPanelMenuItem Click=SidePanelClick Icon="contactless" Path="/contacts" Text="Контакты" />
                        <RadzenPanelMenuItem Click=SidePanelClick Icon="contact_support" Path="/faq" Text="FAQ" />
                        <RadzenPanelMenuItem Click=SidePanelClick Icon="download_for_offline" Path="/downloads" Text="Загрузки" />
                    </RadzenPanelMenuItem>
                }
            </RadzenPanelMenu>
        </RadzenSidebar>
        <RadzenBody Expanded="@sidebarExpanded">
            <RadzenRow class="rz-mx-auto rz-px-4 rz-pt-2 rz-pt-md-4 rz-pt-lg-6 rz-pt-xl-12 rz-pb-2 rz-pb-lg-12" Style="max-width: 1440px;">
                <ErrorBoundary>
                    <ChildContent>
                        <RadzenColumn Size="12">
                            @Body
                        </RadzenColumn>
                    </ChildContent>
                    <ErrorContent Context="exception">
                        <RadzenStack>
                            <RadzenText TextStyle="TextStyle.DisplayH4">
                                Произошла ошибка
                            </RadzenText>
                            <RadzenCard>
                                @exception.ToString()
                            </RadzenCard>
                            <RadzenButton Text="На главную" Click="@(() => { NavigationManager.NavigateTo("/", true); })" />
                        </RadzenStack>
                    </ErrorContent>
                </ErrorBoundary>
            </RadzenRow>
        </RadzenBody>
        @if (!isMobile)
        {
            <RadzenFooter>
                <RadzenStack AlignItems=AlignItems.Center JustifyContent=JustifyContent.Center Orientation="Orientation.Horizontal">
                    <RadzenLink class="rz-text-caption" Path="https://t.me/kurwanator1337" Target="_blank" Text="@string.Concat("kTVCSS Ⓒ 2013 - ", DateTime.Now.Year)" />
                    <RadzenLink class="rz-text-caption" Path="/about" Text="О проекте" />
                    <RadzenLink class="rz-text-caption" Path="/rules" Text="Правила" />
                    <RadzenLink class="rz-text-caption" Path="/contacts" Text="Контакты" />
                    <RadzenLink class="rz-text-caption" Path="/faq" Text="FAQ" />
                    <RadzenLink class="rz-text-caption" Path="/downloads" Text="Загрузки" />
                    <RadzenLink class="rz-text-caption" Target="_blank" Path="https://api.ktvcss.ru/swagger" Text="Разработчикам" />
                </RadzenStack>
            </RadzenFooter>
        }
    </RadzenLayout>
}
else
{
    <AppLoader />
}

@*
    определение стилей здесь из-за ограничений архитектуры Blazor из-за недоступности 
    переопределения Scoped CSS файлов для дочерних элементов DOM дерева и рендера элементов вне Blazor
*@

<style>
    .ktvcss-avatar-small {
        border-radius: 50%;
        width: 28px;
        height: 28px;
        border: 1px solid #121518;
    }


    .rz-dialog-wrapper {
        backdrop-filter: blur(3px) !important;
    }

    .rz-link-text {
        box-sizing: border-box;
        color: #e0e4e9 !important;
        text-decoration: none;
        cursor: pointer;
    }

    .rz-link {
        box-sizing: border-box;
        color: #e0e4e9 !important;
        text-decoration: none;
        cursor: pointer;
    }

    .rz-fileupload-content {
        display: none;
    }
</style>

@code {
    private bool sidebarExpanded = true;
    private bool disposed = false;
    private bool isMobile = false;
    private bool ready = false;

    public void Dispose()
    {
        disposed = true;
    }

    private void SidePanelClick()
    {
        if (isMobile)
        {
            sidebarExpanded = false;
        }
    }

    protected override bool ShouldRender()
    {
        Console.WriteLine($"ShouldRender returns {base.ShouldRender()}");

        return base.ShouldRender();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            bool nt = false;

            try
            {
                await WindowSize.InitializeAsync(JSRuntime);

                isMobile = await mds.IsMobileDeviceAsync();

                if (isMobile)
                {
                    sidebarExpanded = false;
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.ToString());
            }

            ready = true;

            await InvokeAsync(StateHasChanged);
            
            Task.Run(async () =>
            {
                await Task.Delay(3000);

                while (AuthProvider.CurrentUser is null)
                {
                    if (disposed)
                    {
                        return;
                    }
 
                    await Task.Delay(3000); // ждем авторизацию
                }

                if (AuthProvider.CurrentUser is not null)
                {
                    if (AuthProvider.CurrentUser.SteamId.ToLower().Contains("undef"))
                    {
                        string verifyCode = await http.GetStringAsync("/api/players/getregcode?id=" + AuthProvider.CurrentUser.Id);

                        var result = await DialogService.OpenAsync("Привязка STEAMID", ds =>
                            @<RadzenStack Gap="1.5rem">
                                <RadzenStack Gap="0px">
                                    <RadzenText>Чтобы начать играть или всячески взаимодействовать с сайтом, Вам необходимо зайти на сервер, чтобы зарегистрировать и подтвердить Ваш SteamID.</RadzenText>
                                    <RadzenText>Для этого зайдите на сервер <span style="color: #00ff00;"><strong>connect ktvcss.ru:12121</strong></span> и напишите в чат код <span style="text-decoration: underline; color: #ff0000;"><strong>@verifyCode</strong></span>.</RadzenText>
                                    <RadzenText><b>Если Вас кикнет с сервера, значит у Вас все получилось. И не забудьте обновить страницу!</b></RadzenText>
                                </RadzenStack>
                            </RadzenStack>
    , options: new DialogOptions() { ShowClose = false, CloseDialogOnEsc = false, CloseDialogOnOverlayClick = false });
                    }
                    else
                    {
                        nt = await JSRuntime.InvokeAsync<bool>("getPermission");

                        if (nt)
                        {
                            await DialogService.OpenAsync("Подключение уведомлений", ds =>
                                        @<RadzenStack Gap="1.5rem">
                                            <RadzenText>Сейчас откроется диалог, в котором сайт потребует разрешения на отправку уведомлений. Согласитесь, если Вам требуется, чтобы браузер или устройство отправляло уведомление о сообщениях или найденной игре.</RadzenText>
                                            <RadzenButton Text="Ок" Click=@(() => { ds.Close(true); }) />
                                        </RadzenStack>
                            , options: new DialogOptions() { ShowClose = true, CloseDialogOnEsc = true, CloseDialogOnOverlayClick = true });

                            JSRuntime.InvokeVoidAsync("requestNotificationPermission");
                        }

                        ChatHub.Connection.On<MessageDto>("ReceiveMessage", async (message) =>
                        {
                            if (!NavigationManager.Uri.ToLower().Contains("/chat"))
                            {
                                JSRuntime.InvokeVoidAsync("showNotification", message.Sender.Login, message.Content.Length > 20 ? message.Content[0..20] : message.Content, message.Sender.AvatarUrl);

                                NotificationService.Notify(NotificationSeverity.Info, message.Sender.Login, message.Content.Length > 20 ? message.Content[0..20] : message.Content, duration: 5000, payload: DateTime.Now, click: (msg) =>
                                {
                                    NavigationManager.NavigateTo("/chat/" + message.DialogId);
                                });
                            }
                        });

                        if (ChatHub.Connection.State != HubConnectionState.Connected)
                        {
                            await ChatHub.StartAsync();

                            ChatHub.OnAfterConnect(AuthProvider.CurrentUser.Id);
                        }
                    }
                }
            });
        }
    }

    void SidebarToggleClick()
    {
        sidebarExpanded = !sidebarExpanded;
    }

    private string _teamName = string.Empty;

    private async Task OpenTeamCreation()
    {
        var result = await DialogService.OpenAsync("Создание команды", ds =>
        @<RadzenStack Gap="1.5rem">
            <RadzenStack Gap="0px">
                <RadzenText>Вы собираетесь создать команду на проекте!</RadzenText>
                <RadzenText>Команда необходима для участия в командных матчах, а также в турнирах.</RadzenText>
                <RadzenText>При указании тега учитывайте то, что он должен совпадать полностью с тем, что Вы собираетесь использовать в игре.</RadzenText>
                <RadzenText>Иначе результаты матчей не будут учитываться в профиль команды!</RadzenText>
            </RadzenStack>
        <RadzenTextBox Placeholder="Напишите название команды (тег)" @bind-Value=@_teamName Style="width: 100%;" />
            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenButton Text="Создать" Click=@(() => { ds.Close(true); CreateTeam(); }) />
                    <RadzenButton Text="Отмена" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                </RadzenStack>
            </RadzenStack>
        </RadzenStack>
    );
    }

    private async Task CreateTeam()
    {
        var data = new CreateTeamData()
            {
                Name = _teamName,
                SteamID = AuthProvider.CurrentUser.SteamId
            };

        var request = await http.PostAsJsonAsync("/api/teams/createteam", data);

        var response = await request.Content.ReadFromJsonAsync<CreateTeamResult>();

        switch (response)
        {
            case CreateTeamResult.AlreadyCreatedLatestly:
                {
                    NotificationService.Notify(NotificationSeverity.Error, "Ошибка", "Вы недавно создавали команду, подождите немного");
                    break; 
                }
            case CreateTeamResult.TeamExist:
                {
                    NotificationService.Notify(NotificationSeverity.Error, "Ошибка", "Команда с таким названием уже существует");
                    break; 
                }
            case CreateTeamResult.PlayerExistInTeam:
                {
                    NotificationService.Notify(NotificationSeverity.Error, "Ошибка", "У Вас уже есть команда!");
                    break; 
                }
            case CreateTeamResult.TooManyTeams:
                {
                    NotificationService.Notify(NotificationSeverity.Error, "Ошибка", "Нельзя регистрировать несколько команд сразу");
                    break; 
                }
            case CreateTeamResult.Ok:
                {
                    NotificationService.Notify(NotificationSeverity.Success, "Успех", "Команда создана успешно!");

                    var player = await http.GetFromJsonAsync<PlayerInfo>($"/api/players/getplayerbyid?id={AuthProvider.CurrentUser.Id}");

                    await Task.Delay(500);

                    NavigationManager.NavigateTo($"/team/{player.TeamInfo.ID}");

                    break;
                }
        }
    }
}