@using kTVCSSBlazor.Db.Models.Home
@inject HttpClient http
@inject NavigationManager nm

<RadzenStack Style="padding-bottom: 8px" Orientation=Orientation.Horizontal JustifyContent="JustifyContent.SpaceBetween">
    <RadzenText TextStyle=TextStyle.DisplayH4 Text="Хайлайты игроков проекта" />
    <RadzenLink Text="Добавить новое видео" Path="/uploadvideo" />
</RadzenStack>

@if (ready)
{
    <RadzenRow JustifyContent=JustifyContent.Start Gap="20px">
        @if (_videos.Any())
        {
            @foreach (var video in _videos)
            {
                <RadzenColumn SizeXS="12" SizeSM="6" SizeMD="4" SizeLG="3">
                    <RadzenCard class="video-card" Style="padding-bottom: 8px;" @onclick="@(() => OnVideoClick(video.Id))">
                        <div>
                            <img src="@video.PreviewImage" alt="@video.Title" class="thumbnail" />
                            @*                     <span class="duration-badge">@video.Duration</span> *@
                        </div>
                        <div class="card-content">
                            <div class="channel-info">
                                <img src="@video.AuthorAvatar" class="channel-avatar" />
                                <div style="flex:1;">
                                    <div style="font-weight:500; font-size:14px; line-height:1.2; margin-bottom:4px;">@video.Title</div>
                                    <div class="video-meta">@video.AuthorName • @video.Views просмотров • @video.DateTime.ToShortDateString()</div>
                                </div>
                            </div>
                        </div>
                    </RadzenCard>
                </RadzenColumn>
            }
        }
        else
        {
            <RadzenAlert AlertStyle="AlertStyle.Warning" Text="Хайлайтов пока нет" />
        }
    </RadzenRow>
}
else
{
    <RadzenRow JustifyContent="JustifyContent.Center">
        <RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
            <Loader Size="ProgressBarCircularSize.Medium" Text="Идет загрузка хайлайтов" />
        </RadzenStack>
    </RadzenRow>
}
