@page "/mp/{Id:int}"
@using kTVCSSBlazor.Client.Components
@using kTVCSSBlazor.Client.Services
@using kTVCSSBlazor.Db.Models.Matches
@inject HttpClient http
@implements IDisposable
@inject WindowSizeService WindowSize
@inject IMobileDetectionService mds

<PageTitle>kTVCSS @@ Мои матчи</PageTitle>

@if (ready)
{
    <RadzenDataGrid Responsive AllowVirtualization EmptyText="Вы пока не сыграли ни одного матча" RowRender="RowRender" ShowColumnTitleAsTooltip ShowHeader="false" Data="@matches" TItem="TotalMatch" RowCssClass="match-row" Style="@(string.Concat("width: 100%; border: none;", $"height: {dataGridHeight}svh"))">
        <Columns>
            <RadzenDataGridColumn TItem="TotalMatch" Visible="true">
                <Template Context="match">
                    <a href="@(string.Concat("/match/", match.Id))">
                        <div style="display: flex; flex-direction: column;height: 100%;align-items: center;justify-content: space-evenly;">
                            @if (match.MatchDate == "LIVE")
                            {
                                <div class="rz-text-display-h5" style="color: red;font-weight: 600;width:100%;text-align:center">@match.MatchDate</div>
                            }
                            else
                            {
                                <div class="rz-text-display-h5" style="font-weight: 600;width:100%;text-align:center">@match.MatchDate</div>
                            }
                            <div style="display: flex;flex-direction:row;width: 100%;align-items: center;justify-content: space-between;">
                                <div class="rz-text-display-h5" style="font-weight: 600;text-align: center;width: 45%;">@match.ATeam</div>
                                <div class="rz-text-display-h5" style="font-weight: 600;display:flex;text-align:center;">@match.Score</div>
                                <div class="rz-text-display-h5" style="font-weight: 600;text-align: center;width: 45%;">@match.BTeam</div>
                            </div>
                            <div style="font-weight: 600;" class="rz-text-display-h5">@match.MapName</div>
                        </div>
                    </a>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}
else
{
    <RadzenRow JustifyContent="JustifyContent.Center">
        <RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
            <Loader Size="ProgressBarCircularSize.Medium" Text="Идет загрузка Ваших матчей" />
        </RadzenStack>
    </RadzenRow>
}

@*
    определение стилей здесь из-за ограничений архитектуры Blazor из-за недоступности 
    переопределения Scoped CSS файлов для дочерних элементов DOM дерева и рендера элементов вне Blazor
*@

<style>
    .row-ktv {
        background-color: rgb(0 0 0 / 50%);
    }

        .row-ktv:hover {
            background-color: rgb(0 0 0 / 65%);
        }

    td {
        background-color: transparent !important;
    }

    thead {
        display: none;
        width: 100%;
    }

    .rz-text-display-h5 {
        float: inline-end;
    }

    .rz-body {
        overflow: hidden !important;
    }
</style>