@page "/friends"
@using kTVCSSBlazor.Client.Authorization
@using kTVCSSBlazor.Client.Components
@using kTVCSSBlazor.Client.Services
@using kTVCSSBlazor.Db.Models;
@using kTVCSSBlazor.Db.Models.Players
@inject IJSRuntime JS
@inject StateProvider kTVCSSAuthenticationStateProvider
@implements IDisposable
@inject HttpClient http
@inject WindowSizeService WindowSize
@inject IMobileDetectionService mds

<PageTitle>kTVCSS @@ Мои друзья</PageTitle>

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            @if (ready)
            {
                <RadzenDataGrid Responsive EmptyText="У Вас пока нет друзей" AllowSorting AllowVirtualization Style="height: 77svh" Density="Density.Default" Data="@_filtered">
                    <HeaderTemplate>
                        <RadzenStack Style="width: 100%" JustifyContent="JustifyContent.SpaceBetween" Orientation="Orientation.Horizontal">
                            <RadzenText class="rz-pl-4" Style="margin-top: auto;" TextStyle="TextStyle.DisplayH5" Text="Мои друзья"></RadzenText>
                            <div class="rz-pr-2">
                                <RadzenTextBox Style="width: 300px" Placeholder="Например, ник или стим" @bind-Value="@SearchString" />
                            </div>
                        </RadzenStack>
                    </HeaderTemplate>
                    <Columns>
                        @if (!isMobile)
                        {
                            <RadzenDataGridColumn Width="144px" Title="" Context="ctx">
                                <Template>
                                    <RadzenStack AlignItems=AlignItems.Center JustifyContent=JustifyContent.Center Orientation="Orientation.Horizontal">
                                        <div style="margin: auto;">@ctx.Position</div>
                                        <img style="display: flex;justify-content: center;width: 28px;" src="@ctx.RankName" />
                                        <img style='display: flex;justify-content: center;background-repeat: no-repeat; background-position: 50%; border-radius: 50%; width: 25px; height: 25px;' src='@ctx.PhotoUrl' />
                                    </RadzenStack>
                                </Template>
                            </RadzenDataGridColumn>
                        }
                        <RadzenDataGridColumn Width="200px" Title="Ник" Context="ctx">
                            <Template>
                                <RadzenLink Path="@string.Concat("/player/", ctx.Id)">@ctx.Name</RadzenLink>
                            </Template>
                        </RadzenDataGridColumn>
                        @* <RadzenDataGridColumn Width="200px" Context="ctx" Title="STEAMID" Property="SteamID" /> *@
                        <RadzenDataGridColumn Context="ctx" Title="Убийства" Property="Kills" />
                        <RadzenDataGridColumn Context="ctx" Title="Смерти" Property="Deaths" />
                        <RadzenDataGridColumn Context="ctx" Title="Хедшоты" Property="Headshots" />
                        <RadzenDataGridColumn Context="ctx" Title="KDR" Property="KDR" />
                        <RadzenDataGridColumn Context="ctx" Title="HSR" Property="HSR" />
                        <RadzenDataGridColumn Context="ctx" Title="AVG" Property="AVG" />
                        <RadzenDataGridColumn Context="ctx" Title="MMR" Property="MMR" />
                        <RadzenDataGridColumn Context="ctx" Title="Матчи" Property="MatchesTotal" />
                        <RadzenDataGridColumn Context="ctx" Title="Винрейт" Property="Winrate" />
                    </Columns>
                </RadzenDataGrid>
            }
            else
            {
                <RadzenRow JustifyContent="JustifyContent.Center">
                    <RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                        <Loader Size="ProgressBarCircularSize.Medium" Text="Идет загрузка списка друзей" />
                    </RadzenStack>
                </RadzenRow>
            }
        </Authorized>
        <NotAuthorized>
            <RadzenAlert AlertStyle=AlertStyle.Danger Text="Вы должны быть авторизованы для просмотра этой страницы" />
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@*
    определение стилей здесь из-за ограничений архитектуры Blazor из-за недоступности 
    переопределения Scoped CSS файлов для дочерних элементов DOM дерева и рендера элементов вне Blazor
*@

<style>
    .rz-custom-header {
        width: 100% !important;
    }
</style>
